.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.log
coverage.xml
.coverage
htmlcov/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local generated artifacts
artifacts/*
!artifacts/.gitkeep
